google-genai
pypdf
streamlit
dotenv
streamlit
google-genai
PyPDF2
httpx==0.23.3

pydantic
python-dotenv
python-telegram-bot==20.0
python-dotenv
google-genai
PyPDF2
huggingface_hub
transformers
acceleratehuggingface_hub
transformers
accelerate
torch
torchvision
pdf2image
Pillow

python-telegram-bot==20.0
python-dotenv
streamlit

torch
torchvision
pdf2image
Pillow

python-telegram-bot==20.0
python-dotenv
streamlit
